
.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .keypad button {
    width: 50px;
    height: 40px;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .keypad button:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
  }
  
  .keypad .submit {
    grid-column: span 3;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #2bbed3;
    background-color: white;
    padding: 15px;
    width:100px;
  }
   
  @media (max-width: 600px) {
    .keypad button {
      width: 50px;
      height: 50px;
      font-size: 18px;
    }
  
    .keypad .submit {
      font-size: 20px;
      padding: 10px;
    }
  
    .keypad .back img {
      width: 20px;
      height: 20px;
    }
  }
  